@page "/categorias/editar/{Id:int}"
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@using AlmacenWebApp.Shared
@using AlmacenWebApp.Client.Shared.CategoriaComponents

<h3>Editar Categoria</h3>

<CategoriaEdit Categoria="Categoria" OnGrabarClick="Grabar" />

@code {

    [Parameter]
    public int Id { get; set; }

    public CategoriaDto Categoria { get; set; } = new CategoriaDto();

    protected override async Task OnInitializedAsync()
    {
        var respuesta = await HttpClient.GetFromJsonAsync<CategoriaDto>($"api/Categorias/{Id}");
        if (respuesta is not null)
        {
            Categoria = respuesta;
        }
    }

    private async Task Grabar()
    {
        await HttpClient.PutAsJsonAsync($"api/Categorias/{Id}", Categoria);

        NavigationManager.NavigateTo("/categorias");
    }
}
